<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="alice-table-filters">
    <button class="filter-btn active" data-filter="all">
        <i class="alice-icon alice-icon-list"></i> All
    </button>
    <button class="filter-btn status-error" data-filter="2">
        <i class="alice-icon alice-icon-error"></i> <f:translate key="LLL:EXT:alice/Resources/Private/Language/locallang_mod.xlf:status.error_desc" />
    </button>
    <button class="filter-btn status-warning" data-filter="1">
        <i class="alice-icon alice-icon-warning"></i> <f:translate key="LLL:EXT:alice/Resources/Private/Language/locallang_mod.xlf:status.warning_desc" />
    </button>
</div>
</html>
