<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="global-progress-container" class="alice-card hidden">
    <h3><f:translate key="LLL:EXT:alice/Resources/Private/Language/locallang_mod.xlf:settings.label.global_progress" /></h3>
    <div class="alice-progress-bar-wrapper">
        <div id="global-progress-bar" class="alice-progress-bar"></div>
    </div>
    <div id="global-progress-text" class="alice-progress-text">0 / 0 Pages</div>
</div>
</html>
